<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle ng-scope">
   <h3>{{pageTitle}}</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
       <li><a ui-sref="/">Home</a></li>      
      	<li class="active">Alert Rules</li>
   </ol>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right ctaContainer">
	<a ui-sref="/CreateNewRule" class="btn btn-primary">+ Create New Rule</a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<table class="table dataTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Rule Name</th>
				<th>Rule Description</th>
				<th>Module Name</th>
				<th>Action</th>
                <th>Status</th>
                <th></th>
          
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="x in alertRules | filter:searchLead | itemsPerPage: 10">
				<td>{{$index + 1}}</td>
				<td>{{x.rule_name}}</td>
				<td>{{x.rule_description}}</td>
				<td>{{x.rule_modname}}</td>
				<td>{{x.rule_actname}}</td>
                <td><button class="btn btn-success" style="width:100px;" ng-click="actDeact(x.ruleid,1)" ng-hide="x.rule_swtchflg_activate">Activate  </button>
                <button class="btn btn-primary" style="width:100px;" ng-click="actDeact(x.ruleid,0)" ng-Show="x.rule_swtchflg_activate">Deactivate</button></td> 
                <td><a ui-sref="/EditRule({ ruleId: {{x.ruleid}} })"><span class="link">Edit</span></a> </td>  
			</tr>
		</tbody>
	</table>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
</div>