<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
   <h1>{{pageTitle}}</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
      <li><a ui-sref="/">Home</a></li>
      <li class="active">{{pageTitle}}</li>
   </ol>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
	<div class="unitDetails">
      <span>Project: {{unitObj.Proj_Name}}</span>
      <span>Phase: {{unitObj.Phase_Name}}</span>
      <span>Block: {{unitObj.Blocks_Name}}</span>
      <span>Flat No.: {{unitObj.UnitDtls_No}}</span>
   </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	<table class="table dataTable"  id="selectionForm">
		<thead>
			<tr>
                <th>Stage Name</th>
				<th class="text-center">Value</th>
                <th class="text-center">Status</th>
				<th class="text-right">Amount to be paid</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in paymentStagesData">
				<td>{{x.blockstageName}}</td>
				<td class="text-center">{{x.PaymentScheduleCalcValue}}</td>
				<td class="text-center">{{stageStatus[x.blocksatgeCompleted]}}</td>
				<td class="text-right">{{x.userpymtstg_stgcost}}</td>
			</tr>
		</tbody>
	</table>
</div>