<!--
<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="titleBox bgBlue">
		<div class="titleHeader">sent emails</div>
		<div class="titleContent">
			<span class="glyphicon glyphicon-inbox whiteIcon40"></span>
		</div>
		<div class="titleFooter">view details <span class="glyphicon glyphicon-arrow-right pull-right"></span></div>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="titleBox bgGreen">
		<div class="titleHeader">cloud downloads</div>
		<div class="titleContent">
			<span class="glyphicon glyphicon-cloud-download whiteIcon40"></span>
		</div>
		<div class="titleFooter">view details <span class="glyphicon glyphicon-arrow-right pull-right"></span></div>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">	
	<div class="titleBox bgRed">
		<div class="titleHeader">SALES FROM YOUR LAST VISIT</div>
		<div class="titleContent">
			<span class="glyphicon glyphicon-briefcase whiteIcon40"></span>
		</div>
		<div class="titleFooter">view details <span class="glyphicon glyphicon-arrow-right pull-right"></span></div>
	</div>
</div>
-->
<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="dshbrdCmpnt">
        <h3>Units Booked</h3>
        <table class="">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Week</th>
                    <th>Month</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>5</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>9</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="dshbrdCmpnt">
        <h3>Status &amp; Site Visits</h3>
        <table class="">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Week</th>
                    <th>Month</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>5</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>9</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="dshbrdCmpnt">
        <h3>Payment Received</h3>
        <table class="">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Week</th>
                    <th>Month</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>5</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>9</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="dshbrdCmpnt">
        <h3>Payment Pending</h3>
        <table class="">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Week</th>
                    <th>Month</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>5</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>9</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>