<div class="col-lg-12 col-md-12 col-sm-12 pageContentHeader">
	<ul class="pageSubMenu">
		<li>
			<a href="#">Menu Item</a>
		</li>
		<li>
			<a href="#">Menu Item</a>
		</li>
		<li>
			<a href="#">Menu Item</a>
		</li>
		<li>
			<a href="#">Menu Item</a>
		</li>
		<li>
			<a href="#">Menu Item</a>
		</li>
	</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="titleBox bgBlue">
		<div class="titleHeader">sent emails</div>
		<div class="titleContent">
			<span class="glyphicon glyphicon-inbox whiteIcon40"></span>
		</div>
		<div class="titleFooter">view details <span class="glyphicon glyphicon-arrow-right pull-right"></span></div>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="titleBox bgGreen">
		<div class="titleHeader">cloud downloads</div>
		<div class="titleContent">
			<span class="glyphicon glyphicon-cloud-download whiteIcon40"></span>
		</div>
		<div class="titleFooter">view details <span class="glyphicon glyphicon-arrow-right pull-right"></span></div>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">	
	<div class="titleBox bgRed">
		<div class="titleHeader">SALES FROM YOUR LAST VISIT</div>
		<div class="titleContent">
			<span class="glyphicon glyphicon-briefcase whiteIcon40"></span>
		</div>
		<div class="titleFooter">view details <span class="glyphicon glyphicon-arrow-right pull-right"></span></div>
	</div>
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
	<div class="taskListCntr">
		<h3>Heading</h3>
		<div>
			<ul>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="taskListCntr">
		<h3>Heading</h3>
		<div>
			<ul>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
	<div class="taskListCntr">
		<h3>Heading</h3>
		<div>
			<ul>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
				<li>
					<span>Lorem ipsum dolor sit amet, consecte</span>
				</li>
			</ul>
		</div>
	</div>
</div>