<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle ng-scope">
   <h1>Unit Genaration</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20 ng-scope">
   <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a ui-sref="/Phases" href="#/Phases">Phases</a></li>
      <li class="active">Unit Generation</li>
   </ol>
</div>
<form name="untGenerationForm" class="form" method="POST" novalidate="novalidate" ng-model="untGeneration.formintia" >
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left labelDiv">
            <label>Project:</label>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
            <select class="form-control" name="projectName" ng-model="untGeneration.projectName" disabled="true">
               <option ng-repeat="x in projectList" value="{{x.ProjId}}">
                  {{x.Proj_Name}}
               </option>
               <!-- ngRepeat: x in projectList -->
            </select>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left labelDiv">
            <label>Phase:</label>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
             <select class="form-control" name="phase" ng-model="untGeneration.phase" disabled="true">
               <option ng-repeat="x in phaseList" value="{{x.Phase_Id}}">
                  {{x.Phase_Name}}
               </option>
               <!-- ngRepeat: x in projectList -->
            </select>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left labelDiv">
            <label>Type:</label>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">             
             <select class="form-control" name="typeId" ng-model="untGeneration.typeId" disabled="true">
<!--
               <option value="1">
						Flat
					</option>
					<option value="2">
						Plot
					</option>
-->
					<option value="3" ng-selected="untGeneration.typeId==3">
						Villa
					</option>
               <!-- ngRepeat: x in projectList -->
            </select>
<!--           {{typeObj.UnitType_Name}} | {{typeObj.UnitType_Id}}-->
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left labelDiv">
            <label>Block:</label>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
            <select class="form-control" name="block" ng-model="untGeneration.block" ng-required="true" ng-class="{blankInput: untGenerationForm.block.$error.required &amp;&amp; submit}" ng-change="checkBlockUnits(untGeneration.block)">
               <option value="">
                  Block
               </option>
                <option ng-repeat="x in blockList" value="{{x.Blocks_Id}}">
					{{x.Blocks_Name}}
				</option>
               <!-- ngRepeat: x in projectList -->
            </select>
         </div>
      </div>
       
 
       

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  labelDiv">
            <label>No. of Releases:</label>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
            <select class="form-control" name="plotReleaseNo" ng-model="plotvillaReleaseNo" ng-required="true" ng-change="releaseChange()"  >
                     <option value="1" ng-selected="plotvillaReleaseNo==1">1 </option>
                     <option value="2" ng-selected="plotvillaReleaseNo==2">2 </option>
                     <option value="3" ng-selected="plotvillaReleaseNo==3">3 </option>
                     <option value="4" ng-selected="plotvillaReleaseNo==4">4 </option>
                     <option value="5" ng-selected="plotvillaReleaseNo==5">5 </option>
                     <option value="6" ng-selected="plotvillaReleaseNo==6">6 </option>
                     <option value="7" ng-selected="plotvillaReleaseNo==7">7 </option>
                     <option value="8" ng-selected="plotvillaReleaseNo==8">8 </option>
                     <option value="9" ng-selected="plotvillaReleaseNo==9">9 </option>
                     <option value="10" ng-selected="plotvillaReleaseNo==10">10 </option>
                     <option value="11" ng-selected="plotvillaReleaseNo==11">11 </option>
                     <option value="12" ng-selected="plotvillaReleaseNo==12">12 </option>
                 </select>
         </div>
           
       
</div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ugf"  ng-if="untGeneration.typeId == 3" ng-show="showHideFormula">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ugf" >

         <h4>
			 Villas Generation Formula
		  	 <button type="button" class="btn btn-default" ng-click="addVillaTypeRow()">Add More</button>
		  </h4>
            <table class="table">
              <thead>
              <tr>
              <th>Facing: </th>
              <th>East:</th>
              <th>West:</th>
              <th>North:</th>
              <th>South:</th>
              <th>Bedrooms: </th>
              <th>Balconies: </th>
              <th>Bathrooms:</th>
              <th>Build%:</th>
              <th>No. of Villas:</th>
              </tr>
              </thead>
              <tbody>
                  <tr>
                  <td>  
                  <select name="villaFacing" id="villaFacing" ng-model="untGeneration.villaType[0].villaFacing" ng-required="true" class="form">
                      <option value="">Select</option>
                     <option value="E">E </option>
                     <option value="W">W </option>
                     <option value="N">N </option>
                     <option value="S">S </option>
                     <option value="NW">NW </option>
                     <option value="NE">NE </option>
                     <option value="SW">SW </option>
                     <option value="SE">SE </option>
                     </select>
                  </td>
                  <td>
                     <input type="number" id="eastDimension" ng-model="untGeneration.villaType[0].eastDimension" ng-required="true"> 
                  </td>
                  <td>
                    <input type="number" id="westDimension" ng-model="untGeneration.villaType[0].westDimension" ng-required="true">  
                  </td>
                  <td>
                     <input type="number" id="northDimension" ng-model="untGeneration.villaType[0].northDimension" ng-required="true"> 
                  </td>
                  <td>
                     <input type="number" id="southDimension" ng-model="untGeneration.villaType[0].southDimension" ng-required="true"> 
                  </td>
                  <td>
                      <select name="bedRoom" id="bedRoom" ng-model="untGeneration.villaType[0].bedRoom" ng-required="true" class="form">
                          <option value="">Select</option>
                         <option value="1">1 </option>
                         <option value="2">2 </option>
                         <option value="3">3 </option>
                         <option value="4">4 </option>
                         <option value="5">5 </option>
                         <option value="6">6 </option>
                         <option value="7">7 </option>
                         <option value="8">8 </option>
                         </select>
                  </td>
                  <td>
                      <select name="balconies" id="balconies" ng-model="untGeneration.villaType[0].balconies" ng-required="true" class="form">
                      <option value="">Select</option>
                     <option value="1">1 </option>
                     <option value="2">2 </option>
                     <option value="3">3 </option>
                     <option value="4">4 </option>
                     <option value="5">5 </option>
                     </select>
                  </td>
                  <td>
                    <select name="bathRoom" id="bathRoom" ng-model="untGeneration.villaType[0].bathRoom" ng-required="true" class="form">
                      <option value="">Select</option>
                     <option value="1">1 </option>
                     <option value="2">2 </option>
                     <option value="3">3 </option>
                     <option value="4">4 </option>
                     <option value="5">5 </option>
                     </select>  
                  </td>
                  <td>
                    <input type="number" id="buildPercent" ng-model="untGeneration.villaType[0].buildPercent" ng-required="true">
                  </td>
                  <td>
                     <input type="number" id="noOfVillas" ng-model="untGeneration.villaType[0].noOfVillas" ng-required="true"> 
                  </td>
                  </tr>
              </tbody>
            <tbody id="villaTypeGrid">
                
            </tbody>
          </table>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center marginTop20">
         <button type="button" class="btn btn-success" ng-click="addSampleVillas(untGeneration,'untGenerationForm')">
         Generate Villas
         </button>
      </div>
   </div>
        

</form>




<!--- villa started -->

<div >
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="blockFloorUnits > 0 && untGeneration.block != undefined">   
   <table class="sampleUnits">
      <thead>
            <tr>
            <th colspan="6"></th>
            <th colspan="2" style="text-align:center">Dimensions in</th>
            <th colspan="9"></th>
            </tr>
			<tr>
				<th>Site No.</th>
				<th>Facing   </th>
				<th>East</th>
                <th>West</th>
                <th>North</th>
                <th>South</th>
                <th>East+west</th>
                <th>North+South</th>
                <th>Super Built-up Area</th>
				<th>% Age</th>
				<th>Carpet Area</th>
				<th>Bedroom</th>
				<th>Balconies</th>
                <th>Bathrooms</th>
				<th>Release No</th>
				<th>Premium</th>
                <th>Corner PLot</th>
			</tr>
		</thead>
      <tbody >
          <form name="addBlockUnitForm" class="form" method="POST" novalidate="novalidate">
            <tr ng-repeat="x in units track by $index" id="{{$index}}">
               <td><input style="width:70px;" type="text" class="form-control" name="UnitDtls_No" ng-model="UnitsArr[$index].UnitDtls_No" disabled="true"/></td>
                <td>
                  <select style="width:70px;"  class="form-control" name="UnitDtls_Directn" ng-model="UnitsArr[$index].UnitDtls_Directn" disabled="true">
                     <option value="">Select</option>
                     <option value="E">E</option>
                     <option value="W">W</option>
                     <option value="N">N</option>
                     <option value="S">S</option>
                     <option value="NW">NW</option>
                     <option value="NE">NE</option>
                     <option value="SW">SW</option>
                     <option value="SE">SE</option>
                  </select>
               </td>
                <td>
                     <input type="text" style="width:70px;"   class="form-control" name="UnitDtls_EstMsrmnt" ng-model="UnitsArr[$index].UnitDtls_EstMsrmnt"  disabled="true"/>
                </td>
                <td>
                    <input type="text" style="width:70px;" class="form-control" name="UnitDtls_WstMsrmnt" ng-model="UnitsArr[$index].UnitDtls_WstMsrmnt" disabled="true"/>
                </td>
                <td>
                    <input type="text" style="width:70px;"  class="form-control" name="UnitDtls_NrtMsrmnt" ng-model="UnitsArr[$index].UnitDtls_NrtMsrmnt" disabled="true"/>
                </td>
                <td>
                     <input type="text" style="width:70px;" class="form-control" name="UnitDtls_SthMsrmnt" ng-model="UnitsArr[$index].UnitDtls_SthMsrmnt" disabled="true"/>

                </td>
                <td>
                     <input type="text" style="width:70px;" class="form-control" name="UnitDtls_EstWstMsrmnt" ng-model="UnitsArr[$index].UnitDtls_EstWstMsrmnt" disabled="true"/>

                </td>
                <td>
                     <input type="text" style="width:70px;" class="form-control" name="UnitDtls_NrtSthMsrmnt" ng-model="UnitsArr[$index].UnitDtls_NrtSthMsrmnt" disabled="true"/>
                </td>
                <td><input type="text" style="width:75px;" class="form-control" name="UnitDtls_BuliltupArea" ng-model="UnitsArr[$index].UnitDtls_BuliltupArea" disabled="true"/></td>
               <td><input type="text" style="width:50px;" class="form-control" name="UnitDtls_percentage" ng-model="UnitsArr[$index].UnitDtls_percentage" disabled="true"/></td>
               <td><input type="text" style="width:70px;" class="form-control" name="UnitDtls_Msrmnt" ng-model="UnitsArr[$index].UnitDtls_Msrmnt" disabled="true"/></td>

               <td>
                  <select class="form-control" style="width:60px;" name="UnitDtls_Rooms" ng-model="UnitsArr[$index].UnitDtls_Rooms" disabled="true">
                     
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8"></option>
                  </select>
               </td>
               <td>
                  <select class="form-control" style="width:60px;" name="UnitDtls_Balcn" ng-model="UnitsArr[$index].UnitDtls_Balcn" disabled="true">
                     <option value="">Select</option>
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                  </select>
               </td>

               <td>
                  <select class="form-control" style="width:60px;" name="UnitDtls_BRoom" ng-model="UnitsArr[$index].UnitDtls_BRoom" disabled="true">
                     
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                  </select>
               </td>
               <td><input type="text" style="width:65px;"  class="form-control" name="UnitDtls_Floor" ng-model="UnitsArr[$index].UnitDtls_Floor" disabled="true"/></td>

             
               <td class="text-center"> <input type="checkbox" name="UnitDtls_Premium" ng-model="UnitsArr[$index].UnitDtls_Premium" ng-true-value="1" ng-false-value="0" disabled="true" ng-checked="UnitsArr[$index].UnitDtls_Premium==1"/> </td>
                
               <td class="text-center"> <input type="checkbox" name="UnitDtls_Cornerplot" ng-model="UnitsArr[$index].UnitDtls_Cornerplot" ng-true-value="1" ng-false-value="0" disabled="true" ng-checked="UnitsArr[$index].UnitDtls_Cornerplot==1"/> </td>
            </tr>
         </form>
      </tbody>
       <tbody id="villaRowsCntr"></tbody>
   </table>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center marginTop20 ng-scope" >
   <button type="button" class="btn btn-primary" ng-click="saveAllVillas('units',UnitsArr,untGeneration)" ng-show="optionButton">Save</button>
        
         <p ng-hide="optionButton">Saving the Cost Sheet generates the updated Cost Sheet for all Units that are not Sold. </p>
        <P ng-hide="optionButton">Do you Want to Continue</P>
        <button type="button" class="btn btn-success" ng-click="goto('units',untDetails,untGeneration)" ng-hide="optionButton">Yes</button>
        <button type="button" class="btn btn-primary" ng-click="gohome()" ng-hide="optionButton">No </button>
        
</div>
</div></div>
