<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle ng-scope">
   <h3>{{pageTitle}}</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
       <li><a ui-sref="/">Home</a></li>      
       <li class="active">Email Templates</li>	   
   </ol>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right ctaContainer">
	<a ui-sref="/CreateNewEmailTemplate" class="btn btn-primary">+ Create New Email Teamplate</a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<table class="table dataTable">
		<thead>
			<tr>
                <th>#</th>
                <th>Template Name</th>
                <th>Subject</th>    
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in emailTemplates | filter:searchLead track by $index">
				<td>{{$index + 1}}</td>
				<td>{{x.tempemail_name}}</td>
				<td>{{x.tempemail_subject}}</td>
                <td><a><span class="link" ui-sref="/EditEmailTemplate({tempemailid: {{x.tempemailid}} } )" ui-sref="/EditEmailTemplate">Edit</span></a></td>
                
			</tr>
		</tbody>
	</table>
</div>