<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
		<h3>Exchange Unit</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a ui-sref="/Prospects">Prospects</a></li>
	  <li class="active">Add Prospects Project Details</li>
	</ol>	
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">    
	<form class="form">
	<div>
<!--
			<select ng-model="projectDetails.projectName" name="projectName" class="form-control" ng-change="phaseListFun(projectDetails.projectName)" autofocus="true">
                <option value="">
                    Project
                </option>
				<option ng-repeat="x in projectList" value="{{x.ProjId}}" ng-selected="x.ProjId==2">
					{{x.Proj_Name}}
				</option>
			</select>
-->
        <select class="form-control" ng-change="phaseListFun(projectDetails.projectName)"  ng-model="projectDetails.projectName" ng-options="project.ProjId as project.Proj_Name for project in projectList " disabled="true"></select>
		</div>
		<div>
<!--
			<select ng-model="projectDetails.phase" name="phase" class="form-control" ng-change="blockListFun(projectDetails.phase)">
                <option value="">
                    Phase
                </option>
				<option ng-repeat="x in phaseList" value="{{x.Phase_Id}}">
					{{x.Phase_Name}}
				</option>
			</select>
-->
             <select class="form-control" ng-change="blockListFun(projectDetails.phase)"  ng-model="projectDetails.phase" ng-options="phase.Phase_Id as phase.Phase_Name for phase in phaseList" disabled="true">
             </select>
		</div>
		<div class="divLabel" >
			Type: <strong ng-model="projectDetails.flatType">{{flatType}}</strong>
		</div>
		<div>
<!--
			<select ng-model="projectDetails.blocks" name="blocks" class="form-control" ng-change="getUnits(projectDetails.blocks)">
                <option value="">
                    Block
                </option>
				<option ng-repeat="x in blockList" value="{{x.Blocks_Id}}">
					{{x.Blocks_Name}}
				</option>
			</select>
-->
             <select class="form-control" ng-change="getUnits(projectDetails.blocks)"  ng-model="projectDetails.blocks" ng-options="block.Blocks_Id as block.Blocks_Name for block in blockList" disabled="true">
             </select>
		</div>
		<div>
			<table class="table borderDef">
				<thead>
					<tr>
						<th>Project</th>
                        <th>Phase</th>
                        <th>Type</th>
                        <th>Unit</th>
						<th>Size Of Flat</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="projectList">
					<tr ng-repeat="x in leadProjects track by $index" id="{{x.UnitDtls_Id}}" class="ng-scope">
                        <td>{{x.Proj_Name}}</td>
                        <td>{{x.Phase_Name}}</td>
                        <td>{{getTypeNameById(x.Phase_UnitType_Id)}}</td>
                        <td><div class="dispNone">
						{"ProjId":{{x.ProjId}},"Phase_Id":{{x.Phase_Id}},"Blocks_Id":{{x.Blocks_Id}},"UnitDtls_Id":{{x.UnitDtls_Id}}}</div>{{x.UnitDtls_Name}} - {{x.UnitDtls_No}} - {{x.UnitDtls_Floor}} Floor</td>
                        <td>{{x.UnitDtls_BuliltupArea}} sq ft</td>
                        <td><span class="glyphicon glyphicon-lock" ></span></td></tr>
				</tbody>
			</table>
		</div>
		</form>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
      <div ng-repeat="floor in perFloorUnits | reverse track by $index" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="floorName">Floor: <strong>{{blockFloors - $index-startZero}}</strong></div>
        <div ng-repeat="x in floor track by $index" class="flat {{flatStatus[x.UnitDtls_Status-1]}} {{x.markUp}}" id="unit{{x.UnitDtls_Id}}" ng-click="selectUnit(x.UnitDtls_Id,projectDetails)" title="Unit No.{{x.UnitDtls_No}} | {{x.UnitDtls_Rooms}} BHK | Floor - {{x.UnitDtls_Floor}}  | {{flatStatusText[x.UnitDtls_Status-1]}}">
	    </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center marginTop20">
	<button type="button" class="btn btn-primary" ng-click="saveLead(projectDetails)">Save Changes</button>
</div>