<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
   <h1>Follow Up</h1>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right ctaContainer">
   <a ng-click="addNewFollowUp()" class="btn btn-primary">+ Add New FollowUp</a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <input type="text" class="form-control marginBottom5 search" placeholder="Search Campaign" ng-model="searchCampaign"/>
   <table class="table dataTable">
      <thead>
         <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Follow Up</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="x in allFollowUpData | filter:searchCampaign track by $index">
            <td>{{$index + 1}}</td>
            <td>{{x.schedule_subj}}</td>
            <td>{{x.schedule_Flwuptype_Id}}</td>
            <td>{{x.schedule_stdt | date:'dd-MM-yyyy'}}</td>
            <td>{{x.schedule_enddt | date:'dd-MM-yyyy'}}</td>
            <td>{{x.schedule_priority}}</td>
            <td>{{x.schedule_status}}</td> 
            <td><a ui-sref="/EditFollowUp({scheduleId:{{x.scheduleId}} })"><span class="link">Edit</span></a></td>
         </tr>
      </tbody>
   </table>
</div>