<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<h1>Heirarchy Listing</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<ol class="breadcrumb">
	  <li><a ui-sref="/">Home</a></li>
	  <li class="active">Heirarchy</li>
	</ol>	
</div>

<body>
  <div id="chart-container"></div>
 
 <div class="home-link">  
     <style type="text/css">
      #chart-container { height: 650px; }
      .orgchart { background: white; }
      .orgchart .node .verticalEdge, .orgchart .node .horizontalEdge { display: none; }
      /* if yellow glow needs to be removed uncomment this.
        .orgchart .node:hover, .orgchart .node.focused { background: none !important; }
      */
    </style>

    
<i class="fa fa-star"></i>
  </div>


</body>