<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
   <h3>Leads Generated Report</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginTop10 "><label>Filters</label></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <input type="text" class="form-control marginBottom5 " placeholder="First Name " />   
   </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
     <input type="text" class="form-control marginBottom5 " placeholder="Middle Name" />
    </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
   <input type="text" class="form-control marginBottom5 " placeholder="Last Name" />
    </div>
   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
     <input type="text" class="form-control marginBottom5 " placeholder="Mobile No" />
    </div>
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
     <input type="text" class="form-control marginBottom5 " placeholder="Email Id" />
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 marginTop10 text-center">
        <button type="button" class="btn btn-success">Search</button>
    </div>
    <table class="table dataTable"  id="selectionForm" >
		<thead>
			<tr>
				<th>Lead Code</th>
                <th>First Name</th>
                <th ><th2>Middle Name </th2></th>
				<th>Last Name</th>
                <th ><th2>Mobile No </th2></th>
                <th>Email Id</th>
				<th>Lead Status</th>
				<th>Lead Source</th>
                <th>Campaign Name</th>
                <th>Campaign Date</th>
                <th>AssignedTo</th>
			</tr>
		</thead>
        

		<tbody>
			<tr>
                <td>Lead Code</td>
				<td>First Name</td>
                <td>Middle Name </td>
				<td>Last Name</td>
                <td>Mobile No</td>
                <td>Email Id</td>
                <td>Lead Status</td>
				<td>Lead Source</td>
				<td>Campaign Name</td>
                <td>Campaign Date</td>
				<td>AssignedTo</td>
			</tr>
		</tbody>
	</table>
</div>