<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<h1>Leads</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<ol class="breadcrumb">
	  <li><a ui-sref="/">Home</a></li>
	  <li class="active">Leads</li>
	</ol>	
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right ctaContainer">
	<a ui-sref="/AddLead" class="btn btn-primary">+ Add Lead</a> | 
    <a class="btn btn-primary" ng-click="leadToProspectBtnClick();">Convert Lead to Prospect</a> |
	<button type="button" class="btn btn-success" ng-click="uploadFiles()" value="Upload">Upload<span class="glyphicon glyphicon-import"></span></button> 
     <input  class="filestyle" type="file" id="file" name="file" multiple
            onchange="angular.element(this).scope().getFileDetails(this)" />
    <p><progress id="pro" value="0"></progress></p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <input type="text" class="form-control marginBottom5 search" placeholder="Search Leads" ng-model="searchLead"/>
	<table class="table dataTable"  id="selectionForm">
		<thead>
			<tr>
				<th>#</th>
                <th> <input type="checkbox" name="" ng-model="selectAll" ng-click="checkAll()">Select </th>
                <th ng-click="sortData('fullName')"><th2>Name </th2><div ng-class="getSortClass('fullName')"></div></th>
				<th>Mobile</th>
                <th ng-click="sortData('user_email_address')"><th2>Email Id </th2><div ng-class="getSortClass('user_email_address')"></div></th>
                <th ng-click="sortData('registration_date')"><th2>Created Date </th2><div ng-class="getSortClass('registration_date')"></div></th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in leads | orderBy:sortColumn:reverseSort | filter:searchLead ">
				<td>{{$index + 1}}</td>
                <td><input type="checkbox" ng-click="toggleSelection(x.user_id)" name="" ng-model="selected"
                           ng-checked="exist(x.user_id)" ></td>
				<td>{{x.fullName}}</td>
<!--				<td>Sales Team <span class="glyphicon glyphicon-circle-arrow-right"></span> Person</td>-->
                <td>{{x.user_mobile_no}}</td>
                <td>{{x.user_email_address}}</td>
                <td>{{x.registration_date | date:'yyyy-MM-dd'}}</td>
				<td><span class="link" ng-click="leadDetail(x)">View</span></td>
				<td><a ui-sref="/EditLead({ leadID: {{x.user_id}} })"><span class="link">Edit</span></a></td>
			</tr>
		</tbody>
	</table>
    
</div>
<script type="text/ng-template" id="leadDetail.html">
        <div class="modal-header">
			<button type="button" class="close" ng-click="ok()">&times;</button>
            <h3 class="modal-title" id="modal-title">{{lead.user_first_name}} {{lead.user_middle_name}} {{lead.user_last_name}} - <span>{{leadType[lead.user_lead_status_id-1]}}</span></h3>
        </div>
        <div class="modal-body" id="modal-body">
			<div class="subHeading">Contact Details</div>
			<table class="leadDetail">
				<tr>
					<td>Email ID:</td>
					<td>{{lead.user_email_address}}</td>
				</tr>
				<tr>
					<td>Mobile Number:</td>
					<td>{{lead.user_mobile_no}}</td>
				</tr>
				<tr ng-if="lead.user_dob !='0001-01-01T00:00:00'">
					<td>D.O.B:</td>
					<td>{{lead.user_dob | date}}</td>
				</tr>
				<tr>
					<td>City:</td>
					<td>{{cities[lead.user_city-1]}}</td>
				</tr>
            </table>
            <div class="col-md-12 padding0 marginBottom5">
                <div class="subHeading col-md-6 padding0">Projects</div>
                <div class="col-md-6 padding0 text-right">
                    <button class="btn btn-default" ng-click="addLeadProjects(lead.user_id)">Update Projects</button>
                </div>
            </div>
            <div ng-show="{{lead.userprojlist==null}}">This lead does not have any projects.</div>
			<div ng-show="{{lead.userprojlist!=null}}">
				<table class="table borderDef">
				   <thead>
					  <tr>
                         <th>Project</th>
						 <th>Phase</th>
						 <th>Type</th>
						 <th>Block</th>
						 <th>Unit</th>
					  </tr>
				   </thead>
				   <tbody id="projectList">
					  <tr ng-repeat = "unit in leadProjects track by $index" id="{{unit.UnitDtls_Id}}">
						 <td>{{unit.Proj_Name}}</td>
                         <td>{{unit.Phase_Name}}</td>
                         <td>{{getTypeNameById(unit.Phase_UnitType_Id)}}</td>
                         <td>{{unit.Blocks_Name}}</td>
                         <td>{{unit.UnitDtls_Name}} / {{unit.phaseType}} No. {{unit.UnitDtls_No}} / {{unit.UnitDtls_Msrmnt}} sq ft / Floor {{unit.UnitDtls_Floor}}</td>
					  </tr>
				   </tbody>
				</table>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
        </div>
    </script>