<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
   <h3>{{title}}</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">{{title}}</li>
   </ol>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginBottom30 text-center" ng-show="Ugid==0">
   <div class="steps">
      <div class="" ng-repeat="step in stepsData track by $index" >
          <div class="step {{step.status}}">{{step.Num}}</div>
          <div ng-show="$index<5" class="seperator1"></div>
        <div ng-show="$index==5" style="width: 60px;position: relative;top: -50px; display: inline-block;"> </div>
      </div>
   </div>
    <div class="steps">
    <div class="" ng-repeat="step in stepsData">
        <div class="step1 {{step.status}}">{{step.stepName}}</div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginBottom30 text-center" ng-show="Ugid==1">
   <div class="steps">
      <div class="" ng-repeat="step in stepsDataEdit track by $index" >
          <div class="step {{step.status}}">{{step.Num}}</div>
          <div ng-show="$index<3" class="seperator1"></div>
        <div ng-show="$index==3" style="width: 60px;position: relative;top: -50px; display: inline-block;"> </div>
      </div>
   </div>
    <div class="steps">
    <div class="" ng-repeat="step in stepsDataEdit">
        <div class="step1 {{step.status}}">{{step.stepName}}</div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginTop20" ng-show="showGrid">
    <table class="table">
        <thead>
            <tr>
                <th>Unit No</th>
<!--                <th>Unit Name</th>-->
                <th>Unit Type</th>
                <th>Unit Floor</th>
                <th>Premium</th>
                <th>Super Built-up Area</th>
                <th>Direction</th>
                <th>Actual Price Per Sq Feet</th>
                <th>Total Cost</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in unitsWCost">
                <td>{{x.UnitDtls_No}}</td>
<!--                <td>{{x.UnitDtls_Name}}</td>-->
                <td>{{x.UnitDtls_Type}}</td>
                <td>{{x.UnitDtls_Floor}}</td>
                <td>{{x.UnitDtls_Premium}}</td>
                <td>{{x.UnitDtls_BuliltupArea}}</td>
                <td>{{x.UnitDtls_Directn}}</td>
                <td>{{x.unitcostcal_finalbasecost | currency:"&#8377;"}}</td>
                <td>{{x.unitcostcal_totcost | currency:"&#8377;"}}</td>
                <td>
                    <span class="link" ng-click="unitCostSheetModal(x.UnitDtls_Id)">
                        View Details
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding0 marginTop10">
      <button type="button" class="btn btn-success" ng-click="addBlockUnitsNext(UnitsArr,'addBlockUnitForm',untGeneration)">Next</button>
</div>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding0 marginTop10">
<!--         <button type="button" class="btn btn-success" ng-click="addBlockUnit(UnitsArr,'addBlockUnitForm',untGeneration)">Save</button>-->
<!--          <button type="button" class="btn btn-success" ng-click="addBlockUnistNext(UnitsArr,'addBlockUnitForm',untGeneration)">Next</button>-->
      </div>

<script type="text/ng-template" id="unitCostSheet.html">
        <div class="modal-header">
			<button type="button" class="close" ng-click="ok()">&times;</button>
            <h3 class="modal-title" id="modal-title">Unit Cost Sheet Details -> {{unitId}} - UnitDtlsId</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <table class="table borderDef">
   
                 <tr>
                <td>Unit No.</td>
                <td>{{unitCostSheetDetail.UnitDtls_No}}</td>
                <td></td>
            </tr>

            <tr>
                <td>Super Builtup Area</td>
                <td>{{unitCostSheetDetail.sba}} Sq. Ft.</td>
                <td></td>
            </tr>
            <tr>
                <td>Actual Price / Sq. Ft.</td>
                <td> {{unitCostSheetDetail.basecost | currency:"&#8377;"}}</td>
                <td></td>
            </tr>
            

            <tr>

            </tr>
            <tr>
                <td>Basic Cost</td>
                <td> {{unitCostSheetDetail.unitcostcal_basecostval | currency:"&#8377;"}}</td>
                <td></td>
            </tr>
            <tr>
                 <td>Floor Raise Charges</td>
                <td> {{unitCostSheetDetail.unitcostcal_custbasecostval - unitCostSheetDetail.unitcostcal_basecostval | currency:"&#8377;"}}</td>
                <td></td>
            </tr>
            
            <tr ng-show="unitCostSheetDetail.cstcmpnme1!=''">
                <td>{{unitCostSheetDetail.cstcmpnme1}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval1 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt1}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme2!=''">
                <td>{{unitCostSheetDetail.cstcmpnme2}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval2 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt2}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme3!=''">
                <td>{{unitCostSheetDetail.cstcmpnme3}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval3 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt3}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme4!=''">
                <td>{{unitCostSheetDetail.cstcmpnme4}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval4 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt4}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme5!=''">
                <td>{{unitCostSheetDetail.cstcmpnme5}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval5 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt5}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme6!=''">
                <td>{{unitCostSheetDetail.cstcmpnme6}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval6 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt6}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme7!=''">
                <td>{{unitCostSheetDetail.cstcmpnme7}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval7 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt7}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme8!=''">
                <td>{{unitCostSheetDetail.cstcmpnme8}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval8 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt8}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme9!=''">
                <td>{{unitCostSheetDetail.cstcmpnme9}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval9 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt9}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme10!=''">
                <td>{{unitCostSheetDetail.cstcmpnme10}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval10 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt10}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme11!=''">
                <td>{{unitCostSheetDetail.cstcmpnme11}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalcval11 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt11}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme12!=''">
                <td>{{unitCostSheetDetail.cstcmpnme12}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval12 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt12}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme13!=''">
                <td>{{unitCostSheetDetail.cstcmpnme13}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval13 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt13}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme14!=''">
                <td>{{unitCostSheetDetail.cstcmpnme14}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval14 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt14}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme15!=''">
                <td>{{unitCostSheetDetail.cstcmpnme15}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval15 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt15}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme16!=''">
                <td>{{unitCostSheetDetail.cstcmpnme16}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval16 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt16}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme17!=''">
                <td>{{unitCostSheetDetail.cstcmpnme17}}</td>
                <td>INR {{unitCostSheetDetail.cstcmpcalcval17}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt17}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme18!=''">
                <td>{{unitCostSheetDetail.cstcmpnme18}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval18  | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt18}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme19!=''">
                <td>{{unitCostSheetDetail.cstcmpnme19}}</td>
                <td> {{unitCostSheetDetail.cstcmpcalcval19 | currency:"&#8377;"}}</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt19}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme20!=''  && unitCostSheetDetail.cstcmpcalctyp20==1 " >
                <td>Formula - {{unitCostSheetDetail.cstcmpnme20}} </td>
                <td> {{unitCostSheetDetail.cstcmpcalcval20 | currency:"&#8377;"}} on Customer Actual Price/Sq.Ft</td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt20}}</td>
            </tr>
            <tr ng-show="unitCostSheetDetail.cstcmpnme20!=''  && unitCostSheetDetail.cstcmpcalctyp20==0 " >
                <td>Flat - {{unitCostSheetDetail.cstcmpnme20}} </td>
                <td> {{unitCostSheetDetail.cstcmpcalcval20 | currency:"&#8377;"}} </td>
                <td>{{unitCostSheetDetail.cstcmpcalccmnt20}}</td>
            </tr>
            <tr>
                <td><strong>Total Cost (Excluding cost of registration)</strong></td>
                <td ><strong> {{unitCostSheetDetail.unitcostcal_custtotcost | currency:"&#8377;"}}</strong></td>
                <td></td>
            </tr>
             <tr>
                <td><strong>Total Cost in Words(Excluding cost of registration)</strong></td>
                <td><strong>INR {{unitCostSheetDetail.unitTotalAmtinWords}} only </strong></td>
                <td></td>
            </tr>
			</table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
        </div>
    </script>